<div id="sidebar" class="sidebar">
        <button class="sidebar-toggle" onclick="toggleSidebar()">☰</button>
        <h1><a href="#">Multiverse Anime Store</a></h1>
        <nav>
            <ul>
                
                <li><a href="usuarios">Usuarios</a></li>
                <li><a href="sexos">Sexos</a></li>
                <li><a href="roles">Roles</a></li>
                <li><a href="perfiles">Perfiles</a></li>
                <li><a href="config_contactos">Config Contactos</a></li>
                <!-- <li><a href="{% url 'contactos_list' %}">Contactos</a></li> -->
                <!-- <li></li> -->

                <li><a href="categorias">Categorías</a></li>
                <li><a href="productos">Productos</a></li>
                <li><a href="pedidos">Pedidos</a></li>
                <li><a href="estado_pedidos">Estados</a></li>
                <!-- <li><a href="{% url 'productos_auditoria' %}">Auditoría Productos</a></li> -->
                <li><a href="consultas_dinamicas">Consultas Dinámicas</a></li>
                <li *ngIf="isAuthenticated" class="nav-item dropdown">
		            <ul><a class="dropdown-item" href="#" (click)="logout(); 
                        $event.preventDefault()" class="btn-link"
                        style="color:white">Cerrar Sesión</a></ul>
		        </li>

            </ul>
            <!-- Agrega más enlaces de navegación aquí si lo necesitas -->
        </nav>
        <hr>
    </div>