<div class="container">
<h2>Categorías</h2>
<a href="/categorias/form/" class="btn-link">Crear nueva categoría</a>
<ul>
    
        <li>
            <a href="/categorias/COS/detalle/" class="btn-link2">Cosplay</a>
            (<a href="/categorias/COS/editar/" class="btn-link">Editar</a>,
             <a href="#" onclick="showDeleteModal('COS', 'Cosplay'); return false;" class="btn-link">Eliminar</a>)
        </li>
    
        <li>
            <a href="/categorias/ESP/detalle/" class="btn-link2">Ediciones Especiales</a>
            (<a href="/categorias/ESP/editar/" class="btn-link">Editar</a>,
             <a href="#" onclick="showDeleteModal('ESP', 'Ediciones Especiales'); return false;" class="btn-link">Eliminar</a>)
        </li>
    
        <li>
            <a href="/categorias/FIG/detalle/" class="btn-link2">Figuras y Coleccionables</a>
            (<a href="/categorias/FIG/editar/" class="btn-link">Editar</a>,
             <a href="#" onclick="showDeleteModal('FIG', 'Figuras y Coleccionables'); return false;" class="btn-link">Eliminar</a>)
        </li>
    
        <li>
            <a href="/categorias/GDT/detalle/" class="btn-link2">Gadgets y Tecnología</a>
            (<a href="/categorias/GDT/editar/" class="btn-link">Editar</a>,
             <a href="#" onclick="showDeleteModal('GDT', 'Gadgets y Tecnología'); return false;" class="btn-link">Eliminar</a>)
        </li>
    
        <li>
            <a href="/categorias/JUG/detalle/" class="btn-link2">Juegos y Videojuegos</a>
            (<a href="/categorias/JUG/editar/" class="btn-link">Editar</a>,
             <a href="#" onclick="showDeleteModal('JUG', 'Juegos y Videojuegos'); return false;" class="btn-link">Eliminar</a>)
        </li>
    
        <li>
            <a href="/categorias/MNG/detalle/" class="btn-link2">Manga y Light Novels</a>
            (<a href="/categorias/MNG/editar/" class="btn-link">Editar</a>,
             <a href="#" onclick="showDeleteModal('MNG', 'Manga y Light Novels'); return false;" class="btn-link">Eliminar</a>)
        </li>
    
        <li>
            <a href="/categorias/POS/detalle/" class="btn-link2">Posters y Arte</a>
            (<a href="/categorias/POS/editar/" class="btn-link">Editar</a>,
             <a href="#" onclick="showDeleteModal('POS', 'Posters y Arte'); return false;" class="btn-link">Eliminar</a>)
        </li>
    
        <li>
            <a href="/categorias/ROA/detalle/" class="btn-link2">Ropa y Accesorios</a>
            (<a href="/categorias/ROA/editar/" class="btn-link">Editar</a>,
             <a href="#" onclick="showDeleteModal('ROA', 'Ropa y Accesorios'); return false;" class="btn-link">Eliminar</a>)
        </li>
    
</ul>
</div>