<form method="post" class="form-container">
    <h2 class="form-header">Crear Categoría</h2>
    <input type="hidden" name="csrfmiddlewaretoken" value="YmhEYYhqSW9UA2WWuWkglGK2eWdcvrQAViRbnOuWYoidbXHGOtXqfy8L3jM2rocG">
    <!-- <p>
    <label for="id_cat_id">Cat id:</label>
    <input type="text" name="cat_id" value="9" maxlength="10" readonly class="form-control" placeholder=" " required id="id_cat_id">
    
    
  </p>

  
  <p>
    <label for="id_cat_nombre">Cat nombre:</label>
    <input type="text" name="cat_nombre" maxlength="50" class="form-control" placeholder=" " id="id_cat_nombre">
    
    
  </p>

  
  <p>
    <label for="id_cat_descripcion">Cat descripcion:</label>
    <input type="text" name="cat_descripcion" maxlength="200" class="form-control" placeholder=" " id="id_cat_descripcion">
    
    
      
    
  </p> -->

    
        <div class="form-floating">
          <input type="text" name="cat_id" value="9" maxlength="10" readonly="" class="form-control" placeholder=" " required="" id="id_cat_id">
          <label for="id_cat_id">Cat id</label>
        </div>
    
        <div class="form-floating">
          <input type="text" name="cat_nombre" maxlength="50" class="form-control" placeholder=" " id="id_cat_nombre">
          <label for="id_cat_nombre">Cat nombre</label>
        </div>
    
        <div class="form-floating">
          <input type="text" name="cat_descripcion" maxlength="200" class="form-control" placeholder=" " id="id_cat_descripcion">
          <label for="id_cat_descripcion">Cat descripcion</label>
        </div>
    

    <div class="form-linear form-center">
        <button type="submit">Guardar</button>
        <a href="/categorias/" class="btn-link">Volver al listado</a>
    </div>
</form>