<div class="container">
<h2>Sexos</h2>
<a href="/sexos/form/" class="btn-link">Crear nuevo</a>
<ul>
  
    <li>
      <a href="/sexos/1/" class="btn-link2">Hombre</a>
      (<a href="/sexos/1/editar/" class="btn-link">Editar</a>,
       <a href="#" onclick="showDeleteModal('1', 'Hombre'); return false;" class="btn-link">Eliminar</a>)
    </li>
  
    <li>
      <a href="/sexos/2/" class="btn-link2">Mujer</a>
      (<a href="/sexos/2/editar/" class="btn-link">Editar</a>,
       <a href="#" onclick="showDeleteModal('2', 'Mujer'); return false;" class="btn-link">Eliminar</a>)
    </li>
  
</ul>
</div>