<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <h2 class="form-header">{{ isEditMode ? 'Editar Sexo' : 'Crear Sexo' }}</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div class="form-floating">
    <input type="number" formControlName="id_sexo" class="form-control">
    <label>ID Sexo</label>
  </div>

  <div class="form-floating">
    <input type="text" formControlName="nombre_sexo" class="form-control">
    <label>Nombre Sexo</label>
  </div>

  <div class="form-linear form-center">
    <button type="button" (click)="volver()">Volver</button>
    <button type="submit">{{ isEditMode ? 'Actualizar' : 'Guardar' }}</button>
  </div>
</form>

