<div class="container">
<h2>Estado Pedidos</h2>
<a href="/estado_pedidos/form/" class="btn-link">Crear nuevo</a>
<ul>
  
    <li>
      <a href="/estado_pedidos/1/" class="btn-link2">En espera</a>
      (<a href="/estado_pedidos/1/editar/" class="btn-link">Editar</a>,
       <a href="#" onclick="showDeleteModal('1', 'En espera'); return false;" class="btn-link">Eliminar</a>)
    </li>
  
    <li>
      <a href="/estado_pedidos/2/" class="btn-link2">En envio</a>
      (<a href="/estado_pedidos/2/editar/" class="btn-link">Editar</a>,
       <a href="#" onclick="showDeleteModal('2', 'En envio'); return false;" class="btn-link">Eliminar</a>)
    </li>
  
    <li>
      <a href="/estado_pedidos/3/" class="btn-link2">Parcialmente entregado</a>
      (<a href="/estado_pedidos/3/editar/" class="btn-link">Editar</a>,
       <a href="#" onclick="showDeleteModal('3', 'Parcialmente entregado'); return false;" class="btn-link">Eliminar</a>)
    </li>
  
    <li>
      <a href="/estado_pedidos/10/" class="btn-link2">Entregado</a>
      (<a href="/estado_pedidos/10/editar/" class="btn-link">Editar</a>,
       <a href="#" onclick="showDeleteModal('10', 'Entregado'); return false;" class="btn-link">Eliminar</a>)
    </li>
  
</ul>
</div>