<div class="container">
<h2>Roles</h2>
<a href="/roles/form/" class="btn-link">Crear nuevo rol</a>
<ul>
    
        <li>
            <a href="/roles/1/" class="btn-link2">ADMIN</a>
            (<a href="/roles/1/editar/" class="btn-link">Editar</a>,
             <a href="#" onclick="showDeleteModal('1', 'ADMIN'); return false;" class="btn-link">Eliminar</a>)
        </li>
    
        <li>
            <a href="/roles/2/" class="btn-link2">VENDEDOR</a>
            (<a href="/roles/2/editar/" class="btn-link">Editar</a>,
             <a href="#" onclick="showDeleteModal('2', 'VENDEDOR'); return false;" class="btn-link">Eliminar</a>)
        </li>
    
        <li>
            <a href="/roles/3/" class="btn-link2">CLIENTE</a>
            (<a href="/roles/3/editar/" class="btn-link">Editar</a>,
             <a href="#" onclick="showDeleteModal('3', 'CLIENTE'); return false;" class="btn-link">Eliminar</a>)
        </li>
    
</ul>

</div>