<form [formGroup]="roleForm" (ngSubmit)="onSubmit()" class="form-container">
    <h2 class="form-header">
      {{ isEditMode ? 'Editar Rol' : 'Crear Rol' }}
    </h2>

    <!-- ERROR -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <div class="form-floating">
      <input type="text" formControlName="id_rol" class="form-control">
      <label>ID</label>
    </div>

    <div class="form-floating">
      <input type="text" formControlName="nombre" class="form-control">
      <label>Nombre</label>
    </div>

    <div class="form-floating">
      <input type="text" formControlName="descripcion" class="form-control">
      <label>Descripción</label>
    </div>

    <div class="form-linear form-center">
      <button type="submit">
        {{ isEditMode ? 'Actualizar' : 'Crear' }}
      </button>
      <a href="/roles/" class="btn-link" style="margin:auto;">Cancelar</a>


    </div>
</form>