<div class="container">
<h2>Roles</h2>

<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

<button class="btn-link" (click)="crearRol()">Crear nuevo rol</button>

<div *ngIf="isLoading">Cargando roles...</div>

<ul *ngIf="!isLoading">
  <li *ngFor="let rol of roles">
    <span class="btn-link2">{{ rol.nombre }}</span>
    <a (click)="editarRol(rol)" class="btn-link">Editar</a>
    <a (click)="confirmarEliminarRol(rol)" class="btn-link">Eliminar</a> 
  </li>
</ul>

<p *ngIf="!isLoading && roles.length === 0">No se encontraron roles.</p>


<div *ngIf="showDeleteModal" class="modal">
  <div class="modal-content">
    <h3>Confirmar eliminación</h3>
    <p>¿Está seguro que desea eliminar el rol "{{ roleToDelete?.nombre }}"?</p>
    <button (click)="eliminarRol()">Sí, eliminar</button>
    <button (click)="cancelarEliminarRol()">Cancelar</button>
  </div>
</div>


</div>