
        
<div class="container" style="width: auto !important;">
    <h2>Auditoría de Productos</h2>
</div>
    <table class="table-auditoria">
        <thead>
            <tr>
                <th>Fecha de Creación</th>
                <th>Tipo de Auditoría</th>
                <th>Detalles de Auditoría</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>




    
    <!-- <footer>
        <hr>
        <p>&copy; 2024 Multiverse Anime Store</p>
    </footer> -->








</table>