
        
<div class="container" style="width: auto !important;">
    <h2>Auditoría de Productos</h2>
</div>
   <table>
  <tr *ngFor="let p of data">
    <td>{{ p.creation_date }}</td>
    <td>{{ p.au_type_text }}</td>
    <td>

      <div *ngIf="p.product_name">
        Producto: {{ p.product_name }}
      </div>

      <div *ngIf="p.differences?.length">
        <div *ngFor="let d of p.differences">
          {{ d.field }}: {{ d.old }} → {{ d.new }}
        </div>
      </div>

    </td>
  </tr>
</table>