<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">

  <h2 class="form-header">
    {{ isEditMode ? 'Editar' : 'Crear' }} Producto
  </h2>

  <!-- ERROR -->
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div class="form-floating">
    <input type="text" formControlName="prod_id" class="form-control">
    <label>ID</label>
  </div>
  <!-- NOMBRE -->
  <div class="form-floating">
    <input type="text" formControlName="prod_nombre" class="form-control">
    <label>Nombre</label>
  </div>

  <!-- CATEGORIA (FK) -->
  <div class="form-floating">
    <select formControlName="cat_id" class="form-control">
      <option value="">Seleccione categoría</option>
      <option *ngFor="let c of categorias" [value]="c.cat_id">
        {{ c.cat_nombre }}
      </option>
    </select>
    <label>Categoría</label>
  </div>

  <!-- DESCRIPCION -->
  <div class="form-floating">
    <input type="text" formControlName="prod_descripcion" class="form-control">
    <label>Descripción</label>
  </div>

  <!-- PRECIO -->
  <div class="form-floating">
    <input type="number" formControlName="prod_precio_venta" class="form-control">
    <label>Precio</label>
  </div>

  <!-- STOCK -->
  <div class="form-floating">
    <input type="number" formControlName="prod_stock" class="form-control">
    <label>Stock</label>
  </div>

  <!-- IMAGEN -->
  <div class="form-floating">
    <input type="text" formControlName="prod_imagen_url" class="form-control">
    <label>URL Imagen</label>
  </div>

  <!-- DESCUENTO -->
  <div class="form-floating">
    <input type="number" formControlName="prod_descuento" class="form-control">
    <label>Descuento</label>
  </div>

  <!-- BOTONES -->
  <div class="form-linear form-center">
    <button type="submit" [disabled]="isLoading || form.invalid">
      {{ isLoading ? 'Guardando...' : 'Guardar' }}
    </button>

    <button type="button" (click)="volver()">
      Volver
    </button>
  </div>

</form>