<div class="container">
<h2>Productos</h2>
<div class="form-linear">
<a href="/productos/form/" class="btn-link">Crear nuevo producto</a>
<a href="/productos_auditoria/" class="btn-link"> Auditoria</a>
</div>
<ul>
    
        <li>
            <a href="/productos/PROD001/detalle/" class="btn-link2">Figura Goku Super Saiyan</a>
            <a href="/productos/PROD001/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD001', 'Figura Goku Super Saiyan'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD002/detalle/" class="btn-link2">Nendoroid Naruto Uzumaki</a>
            <a href="/productos/PROD002/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD002', 'Nendoroid Naruto Uzumaki'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD003/detalle/" class="btn-link2">Figura Luffy Gear 4</a>
            <a href="/productos/PROD003/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD003', 'Figura Luffy Gear 4'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD004/detalle/" class="btn-link2">Scale Figure Asuka Langley</a>
            <a href="/productos/PROD004/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD004', 'Scale Figure Asuka Langley'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD005/detalle/" class="btn-link2">Funko Pop Eren Yeager</a>
            <a href="/productos/PROD005/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD005', 'Funko Pop Eren Yeager'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD006/detalle/" class="btn-link2">Camiseta Attack on Titan</a>
            <a href="/productos/PROD006/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD006', 'Camiseta Attack on Titan'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD007/detalle/" class="btn-link2">Sudadera My Hero Academia</a>
            <a href="/productos/PROD007/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD007', 'Sudadera My Hero Academia'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD008/detalle/" class="btn-link2">Gorra Akatsuki</a>
            <a href="/productos/PROD008/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD008', 'Gorra Akatsuki'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD009/detalle/" class="btn-link2">Chaqueta Bomber Saiyan</a>
            <a href="/productos/PROD009/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD009', 'Chaqueta Bomber Saiyan'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD010/detalle/" class="btn-link2">Calcetines Totoro Pack x3</a>
            <a href="/productos/PROD010/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD010', 'Calcetines Totoro Pack x3'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD011/detalle/" class="btn-link2">One Piece Vol. 1-3 Box Set</a>
            <a href="/productos/PROD011/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD011', 'One Piece Vol. 1-3 Box Set'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD012/detalle/" class="btn-link2">Attack on Titan Vol. 34 Final</a>
            <a href="/productos/PROD012/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD012', 'Attack on Titan Vol. 34 Final'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD013/detalle/" class="btn-link2">Chainsaw Man Vol. 1</a>
            <a href="/productos/PROD013/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD013', 'Chainsaw Man Vol. 1'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD014/detalle/" class="btn-link2">Death Note Black Edition</a>
            <a href="/productos/PROD014/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD014', 'Death Note Black Edition'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD015/detalle/" class="btn-link2">Demon Slayer Artbook</a>
            <a href="/productos/PROD015/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD015', 'Demon Slayer Artbook'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD016/detalle/" class="btn-link2">Poster Evangelion Unit-01</a>
            <a href="/productos/PROD016/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD016', 'Poster Evangelion Unit-01'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD017/detalle/" class="btn-link2">Scroll Akame ga Kill</a>
            <a href="/productos/PROD017/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD017', 'Scroll Akame ga Kill'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD018/detalle/" class="btn-link2">Set de Posters Jujutsu Kaisen</a>
            <a href="/productos/PROD018/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD018', 'Set de Posters Jujutsu Kaisen'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD019/detalle/" class="btn-link2">Poster Metálico Cowboy Bebop</a>
            <a href="/productos/PROD019/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD019', 'Poster Metálico Cowboy Bebop'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD020/detalle/" class="btn-link2">Canvas Spy x Family</a>
            <a href="/productos/PROD020/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD020', 'Canvas Spy x Family'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD021/detalle/" class="btn-link2">Mouse Pad XXL Dragon Ball</a>
            <a href="/productos/PROD021/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD021', 'Mouse Pad XXL Dragon Ball'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD022/detalle/" class="btn-link2">Taza Térmica One Punch Man</a>
            <a href="/productos/PROD022/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD022', 'Taza Térmica One Punch Man'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD023/detalle/" class="btn-link2">Llavero Metal Sharingan</a>
            <a href="/productos/PROD023/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD023', 'Llavero Metal Sharingan'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD024/detalle/" class="btn-link2">Lámpara LED Death Note</a>
            <a href="/productos/PROD024/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD024', 'Lámpara LED Death Note'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD025/detalle/" class="btn-link2">Pack Stickers Anime Mix</a>
            <a href="/productos/PROD025/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD025', 'Pack Stickers Anime Mix'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD026/detalle/" class="btn-link2">Peluca Kakashi Hatake</a>
            <a href="/productos/PROD026/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD026', 'Peluca Kakashi Hatake'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD027/detalle/" class="btn-link2">Banda Ninja Konoha</a>
            <a href="/productos/PROD027/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD027', 'Banda Ninja Konoha'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD028/detalle/" class="btn-link2">Capa Survey Corps</a>
            <a href="/productos/PROD028/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD028', 'Capa Survey Corps'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD029/detalle/" class="btn-link2">Espada de Espuma Tanjiro</a>
            <a href="/productos/PROD029/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD029', 'Espada de Espuma Tanjiro'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD030/detalle/" class="btn-link2">Lentes Steins Gate</a>
            <a href="/productos/PROD030/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD030', 'Lentes Steins Gate'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD031/detalle/" class="btn-link2">Dragon Ball FighterZ PS4</a>
            <a href="/productos/PROD031/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD031', 'Dragon Ball FighterZ PS4'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD032/detalle/" class="btn-link2">Naruto Storm 4 Road to Boruto</a>
            <a href="/productos/PROD032/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD032', 'Naruto Storm 4 Road to Boruto'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD033/detalle/" class="btn-link2">Cartas Pokémon Booster Box</a>
            <a href="/productos/PROD033/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD033', 'Cartas Pokémon Booster Box'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD034/detalle/" class="btn-link2">Yu-Gi-Oh Structure Deck</a>
            <a href="/productos/PROD034/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD034', 'Yu-Gi-Oh Structure Deck'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD035/detalle/" class="btn-link2">Puzzle 1000 pzs Studio Ghibli</a>
            <a href="/productos/PROD035/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD035', 'Puzzle 1000 pzs Studio Ghibli'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD036/detalle/" class="btn-link2">Evangelion Ultimate Edition</a>
            <a href="/productos/PROD036/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD036', 'Evangelion Ultimate Edition'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD037/detalle/" class="btn-link2">Fullmetal Alchemist Deluxe</a>
            <a href="/productos/PROD037/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD037', 'Fullmetal Alchemist Deluxe'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD038/detalle/" class="btn-link2">Demon Slayer Collector Box</a>
            <a href="/productos/PROD038/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD038', 'Demon Slayer Collector Box'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD039/detalle/" class="btn-link2">Attack on Titan Season Box</a>
            <a href="/productos/PROD039/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD039', 'Attack on Titan Season Box'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
        <li>
            <a href="/productos/PROD040/detalle/" class="btn-link2">Studio Ghibli Collection</a>
            <a href="/productos/PROD040/editar/" class="btn-link">Editar</a>
            <a href="#" onclick="showDeleteModal('PROD040', 'Studio Ghibli Collection'); return false;" class="btn-link">Eliminar</a>
            
        </li>
    
</ul>
</div>