<form [formGroup]="form" (ngSubmit)="guardar()" class="form-container">

  <input formControlName="id_usuario" placeholder="ID" readonly>
  <input formControlName="nombre" placeholder="Nombre">
  <input formControlName="primer_apellido" placeholder="Primer apellido">
  <input formControlName="segundo_apellido" placeholder="Segundo apellido">
  <input formControlName="fecha_nacimiento" type="date" placeholder="Fecha de nacimiento">
  <input formControlName="password_hash" type="password" placeholder="Contraseña">
  <select formControlName="usuario_id_sexo">
    <option value="">Sexo</option>
    <option *ngFor="let s of sexos" [value]="s.id_sexo">{{ s.nombre_sexo }}</option>
  </select>
  <select formControlName="usuario_id_perfil">
    <option value="">Perfil</option>
    <option *ngFor="let p of perfiles" [value]="p.id_perfil">{{ p.nombre }}</option>
  </select>
  <label>
    <input type="checkbox" formControlName="activo">
    Activo
  </label>


  <!-- CONTACTOS -->
  <div formArrayName="contactos">

    <!-- <div *ngFor="let t of contactos().controls; let i = index" [formGroupName]="i"> -->
    <div *ngFor="let t of contactoID; let i = index" [formGroupName]="i">

      <select formControlName="tipo_contacto">
        <option value="">Tipo</option>
        <option *ngFor="let config of configContacto" [value]="config.id_regla">{{ config.nombre_contacto }}</option>
      </select>

      <input formControlName="dato_contacto" placeholder="Dato">

      <button type="button" (click)="eliminarContacto(i)">
        Eliminar
      </button>

    </div>

  </div>

  <button type="button" (click)="agregarContacto()">
    Agregar contacto
  </button>

  <div class="form-linear form-center">
    <button (click)="volver()" type="button">Volver</button>
    <button (click)="guardar()" type="button">Guardar</button>
  </div>

</form>