<div class="container">
<h2>Consultas</h2>

<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

<div class="form-linear">
    <button (click)="crearConsulta()" class="btn-link">
      Crear nueva consulta
    </button>
</div>

<div *ngIf="isLoading">Cargando consultas...</div>
<div *ngIf="!isLoading">

  <ul *ngIf="consultas.length > 0">
    <li *ngFor="let consulta of consultas">

      <span class="btn-link2">
        {{ consulta.cons_nombre }}
      </span>

      <a (click)="editarConsulta(consulta)" class="btn-link">
        Editar
      </a>

      <a (click)="verReporte(consulta)" class="btn-link">
        Ver Reporte
      </a>

      <a (click)="confirmarEliminar(consulta)" class="btn-link">
        Eliminar
      </a>

    </li>
  </ul>

  <p *ngIf="consultas.length === 0">
    No se encontraron consultas.
  </p>

  <div *ngIf="showDeleteModal" class="modal">
    <div class="modal-content">
      <p>¿Estás seguro de que deseas eliminar esta consulta?</p>
      <button (click)="eliminarConsulta()">Sí, eliminar</button>
      <button (click)="showDeleteModal = false">No, cancelar</button>
    </div>
    </div>

</div>
