<form [formGroup]="form" (ngSubmit)="Guardar()" class="form-container">

  <h2 class="form-header">{{ isEditMode ? 'Editar Pedido' : 'Crear Pedido' }}</h2>

  <!-- ERROR -->
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div class="form-floating">
    <input type="number" formControlName="ped_id" class="form-control">
    <label>ID</label>
  </div>

  <!-- USUARIO (FK) -->
  <div class="form-floating">
    <select formControlName="usu_id" class="form-control">
      <option value="">Seleccione usuario</option>
      <option *ngFor="let u of usuarios" [value]="u.id_usuario">
        {{ u.nombre }} {{ u.primer_apellido }}
      </option>
    </select>
    <label>Usuario</label>
  </div>

  <!-- FECHA PEDIDO -->
  <div class="form-floating">
    <input type="date" formControlName="ped_fecha_pedido" class="form-control">
    <label>Fecha de pedido</label>
  </div>

  <!-- DIRECCION ENVIO -->
  <div class="form-floating">
    <input type="text" formControlName="ped_direccion_envio" class="form-control">
    <label>Dirección de envío</label>
  </div>

  <div class="form-floating">
    <input type="number" formControlName="ped_total" class="form-control" readonly>
    <label>Total</label>
  </div>

  <!-- NOTAS -->
  <div class="form-floating">
    <textarea formControlName="ped_notas" class="form-control"></textarea>
    <label>Notas</label>
  </div>

  



  <div formArrayName="productopedido">
    <!-- <div *ngFor="let p of pedidosID; let i = index" [formGroupName]="i" class="form-producto"> -->
    <div *ngFor="let p of productopedido().controls; let i = index" [formGroupName]="i" class="form-producto">


      <select formControlName="prod_id" class="form-control">
        <option value="">Seleccione producto</option>
        <option *ngFor="let prod of productos" [value]="prod.prod_id">
          {{ prod.prod_nombre }}
        </option>
      </select>

      <input type="number" formControlName="pped_cantidad" class="form-control" placeholder="Cantidad">

      <button type="button" (click)="eliminarProducto(i)">
        Eliminar
      </button>

    </div>

    

  </div>

    <button type="button" (click)="agregarProducto()">
      Agregar producto
    </button>

  <!-- BOTONES -->
  <div class="form-linear form-center">
    <button (click)="volver()" type="button">Volver</button>
    <button type="submit">{{ isEditMode ? 'Actualizar' : 'Guardar' }}</button>
  </div>


</form> 

