<div class="panel-content-header">
    <div>
        <h2>{{ isEditMode ? 'Editar Pedido' : 'Crear Pedido' }}</h2>
        <p>{{ isEditMode ? 'Modificando Pedido: ' : 'Nuevo pedido del sistema.' }}</p>
    </div>
</div>

<div class="panel-form-card">
    <form [formGroup]="Form" (ngSubmit)="guardar()">
  <!-- <h2>Actualizar Producto del Pedido</h2> -->

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div class="panel-form-group">
    <label>Pedido ID</label>
    <input type="number" formControlName="ped_id" class="form-control" readonly>
    
  </div>

    <div class="panel-form-group">
        <label>Producto ID</label>
        <input type="string" formControlName="prod_id" class="form-control" readonly>
         
    </div>

    <div class="panel-form-group">
        <label>Cantidad</label>
        <input type="number" formControlName="pped_cantidad" class="form-control" readonly>
         
    </div>

    <div class="panel-form-group">
        <label>Precio Unitario</label>
        <input type="number" formControlName="pped_precio_unitario" class="form-control" readonly>
         
    </div>

    <div class="panel-form-group">
        <label>Descuento</label>
        <input type="number" formControlName="pped_descuento" class="form-control" readonly>
         
    </div>

    <div class="panel-form-group">
        <label>Total</label>
        <input type="number" formControlName="pped_total" class="form-control" readonly>
         
    </div>


    <div class="panel-form-group">
        <label>Fecha de Entrega</label>
        <input type="date" formControlName="pped_fecha_entrega" class="form-control">
        
    </div>

    <div class="panel-form-group">
        <label>Estado</label>
        <select formControlName="pped_estado" class="form-control">
            <option value="">Seleccione estado</option>
            <option *ngFor="let estado of estadosPedidos" [value]="estado.est_id">
                {{ estado.est_nombre }}
            </option>
        </select>
        
    </div>

    <button type="submit" class="panel-btn panel-btn-primary">Guardar</button>
</form>
</div>
