<div class="container">
<h2>Configuración de Contactos</h2>

<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

<div class="form-linear">
  <button (click)="crearContacto()" class="btn-link">
    Crear nueva regla
  </button>
</div>


<div *ngIf="isLoading">Cargando reglas de contacto...</div>
<div *ngIf="!isLoading">

  <ul *ngIf="contactos.length > 0">
    <li *ngFor="let regla of contactos"> 

      <span class="btn-link2">
        {{ regla.nombre_contacto }}
      </span>

      <a (click)="editarContacto(regla)" class="btn-link">
        Editar
      </a>

      <a (click)="confirmarEliminar(regla)" class="btn-link">
        Eliminar
      </a>

    </li>
  </ul>

  <p *ngIf="contactos.length === 0">
    No se encontraron reglas de contacto.
  </p>

  <div *ngIf="showDeleteModal" class="modal">
    <div class="modal-content">
      <p>¿Eliminar esta regla de contacto?</p>
      <button (click)="eliminarContacto()">Sí, eliminar</button>
      <button (click)="cancelarEliminar()">No, cancelar</button>
    </div>
  </div> 



<!-- <a href="/config_contactos/form/" class="btn-link">Crear nueva regla</a>
<ul>
  
    <li>
      <a href="/config_contacto/1/" class="btn-link2">Correo Electronico</a>
      (<a href="/config_contacto/1/editar/" class="btn-link">Editar</a>,
       <a href="/config_contacto/1/eliminar/" class="btn-link" onclick="return confirm('Eliminar esta regla?');">Eliminar</a>)
    </li>
  
    <li>
      <a href="/config_contacto/2/" class="btn-link2">Número telefónico</a>
      (<a href="/config_contacto/2/editar/" class="btn-link">Editar</a>,
       <a href="/config_contacto/2/eliminar/" class="btn-link" onclick="return confirm('Eliminar esta regla?');">Eliminar</a>)
    </li>
  
    <li>
      <a href="/config_contacto/3/" class="btn-link2">Direccion</a>
      (<a href="/config_contacto/3/editar/" class="btn-link">Editar</a>,
       <a href="/config_contacto/3/eliminar/" class="btn-link" onclick="return confirm('Eliminar esta regla?');">Eliminar</a>)
    </li>
  
    <li>
      <a href="/config_contacto/4/" class="btn-link2">Codigo Postal</a>
      (<a href="/config_contacto/4/editar/" class="btn-link">Editar</a>,
       <a href="/config_contacto/4/eliminar/" class="btn-link" onclick="return confirm('Eliminar esta regla?');">Eliminar</a>)
    </li>
  
</ul> -->
</div>