<div class="container">
<h2>Configuración de Contactos</h2>
<a href="/config_contactos/form/" class="btn-link">Crear nueva regla</a>
<ul>
  
    <li>
      <a href="/config_contacto/1/" class="btn-link2">Correo Electronico</a>
      (<a href="/config_contacto/1/editar/" class="btn-link">Editar</a>,
       <a href="/config_contacto/1/eliminar/" class="btn-link" onclick="return confirm('Eliminar esta regla?');">Eliminar</a>)
    </li>
  
    <li>
      <a href="/config_contacto/2/" class="btn-link2">Número telefónico</a>
      (<a href="/config_contacto/2/editar/" class="btn-link">Editar</a>,
       <a href="/config_contacto/2/eliminar/" class="btn-link" onclick="return confirm('Eliminar esta regla?');">Eliminar</a>)
    </li>
  
    <li>
      <a href="/config_contacto/3/" class="btn-link2">Direccion</a>
      (<a href="/config_contacto/3/editar/" class="btn-link">Editar</a>,
       <a href="/config_contacto/3/eliminar/" class="btn-link" onclick="return confirm('Eliminar esta regla?');">Eliminar</a>)
    </li>
  
    <li>
      <a href="/config_contacto/4/" class="btn-link2">Codigo Postal</a>
      (<a href="/config_contacto/4/editar/" class="btn-link">Editar</a>,
       <a href="/config_contacto/4/eliminar/" class="btn-link" onclick="return confirm('Eliminar esta regla?');">Eliminar</a>)
    </li>
  
</ul>
</div>